<div class="container-fluid bg-light">
  <div class="container-sm d-flex justify-content-between align-items-center <%= current_path?('/my_budget') ? 'py-1' : 'py-2' %>">
    <p class="m-0">
      <% if current_path?('/my_budget/deposit') || current_path?('/my_budget/withdraw') %>
        Current balance: 
      <% else %>
        Balance:
      <% end %>
      <span class="fw-bold">$<%= current_user.balance %></span>
    </p>
    <% if current_path? '/my_budget' %>
      <div class="d-flex gap-3">
        <%= link_to my_budget_deposit_path, class: 'btn btn-sm btn-success', title: 'Deposit' do %>
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <span class="d-none d-sm-inline">Deposit</span>
        <% end %>
        <%= link_to my_budget_withdraw_path, class: 'btn btn-sm btn-danger', title: 'Withdraw' do %>
          <i class="fa-solid fa-arrow-up-from-bracket" style="transform: rotate(180deg)"></i>
          <span class="d-none d-sm-inline">Withdraw</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
