<%= link_to root_path, class: 'back-btn', data: { turbo_action: 'restore' } do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<h2>REGISTER</h2>
<button form="new_user" class="action-btn btn btn-link text-light fs-5 p-0">Sign Up</button>
