<% content_for :navbar do %>
  <%= render 'header_index' %>
<% end %>

<section class="d-flex flex-column h-100 pb-3 overflow-hidden">
  <%= render 'components/balance_bar' %>
  <div class="container-fluid">
    text
  </div>
  
</section>
