<% content_for :navbar do %>
  <%= render 'header_transaction' %>
<% end %>

<section class="overflow-auto">
  <%= render 'components/balance_bar' %>
  <% if unavailable_balance? && current_path?('/my_budget/withdraw') %>
    <div data-turbo-cache="false" class="alert alert-danger py-2 fade show m-0" role="alert">
      <strong>
        You don't have available balance to proceed with this operation.
        <%= link_to 'Click here to deposit money', my_budget_deposit_path %>
      </strong>
    </div>
  <% end %>
  <div class="container-sm py-3 position-relative" data-controller="previewing">
    <%= render 'form', operation: @operation %>
    <div
      data-previewing-target="loading"
      class="position-absolute d-flex d-none text-center top-0 bottom-0 start-0 end-0 align-items-center justify-content-center"
      style="background: #7a848e38;"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>
