<% content_for :navbar do %>
  <%= render 'header_deposit' %>
<% end %>

<section class="container-fluid">
  <div class="container-sm py-3 px-0">
    <%= render 'form', user: current_user %>
  </div>
</section>
