.categories {
  height: 100%;

  > :first-child {
    min-height: 100%;
    max-height: 100%;
  }
}

.new-category-btn {
  text-align: center;
  padding-top: 1rem;

  .btn {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    max-width: 450px;
  }
}

.categories-list {
  margin: 0 -0.75rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.category-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
  background-color: white;

  .category-item-icon {
    width: 25%;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    max-width: 90px;
    min-width: 68px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
