@import "variables";

.navbar-padding {
  padding-top: 41.44px;
}

.sidebar {
  @media (min-width: 992px) {
    width: 25%;
    max-width: 370px;
    min-width: 270px;
  }
}

.navbar {
  flex-wrap: nowrap;
  min-height: 48px;

  h1,
  h2,
  p {
    margin: 0;
    color: white;
  }

  h2 {
    font-size: 1.325rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .back-btn {
    color: white;
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
  }

  .offcanvas-lg {
    max-width: 80%;
    min-width: 220px;
    background: $primary;

    @media (max-width: 220px) {
      max-width: 100%;
      min-width: 150px;
    }

    @media (min-width: 992px) {
      height: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0 1rem;

      .offcanvas-header {
        display: block;
        padding: 0;
        margin-bottom: 1rem;

        h1 {
          font-size: 2rem;
        }

        button {
          display: none;
        }
      }

      .offcanvas-body,
      & .navbar-nav {
        flex-direction: column;
      }

      .avatar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        justify-content: center;

        .figure {
          max-width: 83px;
        }

        p {
          flex-grow: 1;
          text-align: left;
        }
      }
    }
  }

  ul > li {
    border-bottom: 1px solid lightblue;
  }

  .avatar {
    text-align: center;

    .figure {
      width: 35%;
      min-width: 65px;
      aspect-ratio: 1 / 1;
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.flex-wrapped {
  text-align: center !important;
}
