/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "variables";
@import "font-awesome";
@import "bootstrap";
@import "home";
@import "navbar";
@import "forms";
@import "categories";

html,
body {
  height: 100%;
}

body {
  background-color: #e3e3e3;
}

.btn-to-link {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $primary;
  text-decoration: underline;
}

.icon-thumbnail {
  width: 25%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  max-width: 90px;
  min-width: 68px;
  aspect-ratio: 1 / 1;
}

.dropdow-icon-thumbnail {
  width: 35px;
  min-width: 0;
  flex-shrink: 0;
}

.border-gray-400 {
  border-color: $gray-400 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.on .item-on {
  display: none !important;
}

.off .item-off {
  display: none !important;
}
