<%= link_to root_path, class: 'back-btn' do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<h2>NEW CATEGORY</h2>
<button form="new_category" class="action-btn btn btn-link text-light fs-5 p-0">Save</button>
