<section class="container-fluid h-100 home">
  <div class="container-sm h-100 d-flex flex-column justify-content-between py-3">
    <h1 class="my-auto text-center">MyBudgetApp</h1>
    <div class="d-flex flex-wrap justify-content-center action-btns">
      <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</section>
