<% content_for :navbar do %>
  <%= render 'header_index' %>
<% end %>

<section class="py-3 d-flex flex-column h-100">
  <div class="container-fluid d-flex flex-column categories overflow-auto">
    <div class="container-sm d-flex flex-column">
      <% if @categories.empty? %>
        <h3 class="text-center">There are no categories yet.</h3>
      <% else %>
        <ul class="categories-list">
          <%= render @categories %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="mt-auto new-category-btn container-fluid">
    <%= link_to 'ADD CATEGORY', new_category_path, class: 'btn btn-secondary' %>
  </div>
</section>
