<% content_for :navbar do %>
  <%= render 'header_new' %>
<% end %>

<section class="container-fluid">
  <div class="container-sm py-3 px-0">
    <%= render 'form', operation: @operation, current_category: @current_category, others_categories: @others_categories %>
  </div>
</section>
