<% content_for :navbar do %>
  <%= render 'header_new' %>
<% end %>

<section class="container-fluid px-0 overflow-auto">
  <%= render 'components/balance_bar' %>
  <div class="container-sm py-3">
    <%= render 'form', operation: @operation, current_category: @current_category, others_categories: @others_categories %>
  </div>
</section>
