<% content_for :navbar do %>
  <%= render 'header_new' %>
<% end %>

<section class="container-fluid px-0 overflow-auto">
  <%= render 'components/balance_bar' %>
  <div class="container-sm py-3 position-relative" data-controller="previewing">
    <%= render 'form', operation: @operation, current_category: @current_category, others_categories: @others_categories %>
    <div
      data-previewing-target="loading"
      class="position-absolute d-flex d-none text-center top-0 bottom-0 start-0 end-0 align-items-center justify-content-center"
      style="background: #7a848e38;"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</section>
